{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ojo de Horus</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <script>
        // Función para mostrar u ocultar la imagen QR
        function toggleQRCode() {
            const qrImage = document.getElementById("qr-image");
            qrImage.style.display = (qrImage.style.display === "none" || qrImage.style.display === "") ? "block" : "none";
        }
    </script>
</head>
<body>
    <header>
        <h1>Ojo de Horus</h1>
        <h2>Foro de e-sports y aplicación móvil.</h2>
        <ul>
            <li>El proyecto Ojo de Horus tiene como objetivo crear una plataforma en formato de foro especializado en E-sports.</li>
            <li>Busca ser un espacio de interacción, discusión y análisis sobre competiciones, equipos, jugadores y tendencias en el sector.</li>
            <li>Fomenta la participación de aficionados y profesionales, promoviendo el intercambio de conocimientos y experiencias en un entorno seguro.</li>
            <li>La plataforma servirá como punto de referencia para acceder a información actualizada, compartir estrategias y debatir sobre los desarrollos más recientes en los E-sports.</li>
        </ul>
    </header>
    
    <!-- Logo en la esquina superior derecha -->
    <img id="logo" src="{% static 'assets/img/icon.png' %}" alt="Logo Ojo de Horus">

    <section>
        <h2>Funciones principales</h2>
        <ul>
            <li>Iniciar sesión para acceder a las funcionalidades del foro.</li>
            <li>Publicar nuevos posts con acceso a galería y cámara del dispositivo.</li>
            <li>Comentar en los posts de otros usuarios.</li>
            <li>Editar el perfil de usuario.</li>
            <li>Crear un nuevo usuario para unirse a la comunidad.</li>
            <li>Crear comunidades para discusiones específicas.</li>
            <li>Acceso a acuerdos legales, políticas de privacidad y normas de comportamiento.</li>
            <li>Posibilidad de que usuarios sean baneados o eliminados, junto con sus posts.</li>
        </ul>
    </section>

    <section>
        <h2>Enlaces de descarga</h2>
        <ul>
            {% if device_type == 'Móvil' %}
            <!-- Mostrar solo el enlace en móvil -->
            <li>
                <a href="https://github.com/JavierVvalenzuela/ojo_de_horus" target="_blank">Ir al GitHub</a>
            </li>
            {% else %}
            <!-- Enlace para mostrar el QR -->
            <li>
                <button onclick="toggleQRCode()">Qr de descarga</button>
            </li>
            <!-- Imagen QR oculta inicialmente -->
            <li>
                <img id="qr-image" src="{% static 'assets/img/qr-code.jpg' %}" alt="QR de descarga" width="150" height="150" style="display: none;">
            </li>
            {% endif %}
        </ul>
    </section>

    <footer>
        <p>&copy; 2024 Ojo de Horus. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
